@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.logo{
    position: absolute;
    width: 200px;
    height: 700px;
    left: 20px;
    top: 15px;
    text-align: right;
    padding: 0%;
    color: white;
    font-weight: 500;
    font-size: 32px;
}
.titulo{
    color: #F6631C;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.titulo2{
    color: #F6631C;
    font-size: 30px;
    text-align: center;
}
.subtxt{
    text-align: center;
    font-size: 30px;
    color: black;
}
.subtxt2{
    text-align: center;
    font-size: 25px;
    color: black;
}
body{
    background-color: #F4F0E4;
}

/* Header */

header{
    background-color: #F4F0E4;
    width: 100vw;
    height: 800px;
    background: #3E5151;  /* fallback for old browsers */
    background: -webkit- linear-gradient(to right, hsla(39, 48%, 76%, 0), hsla(180, 13%, 28%, 0)), url(../img/maria\ alejandra.jpg); 
    background: linear-gradient(to right, hsla(39, 48%, 76%, 0), hsla(180, 13%, 28%, 0)), url(../img/maria\ alejandra.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}   

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
    font-size: 24px;
}


header .textos-header{
    margin-top: 10%;
    display: flex;
    height: 530px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 96px;
    font-weight: 400;
    color: white;
    bottom: 90%;
}
span{
    color: #844AFF;
}

.textos-header h2{
    font-size: 40px;
    font-weight: 300;
    color: white;
}


nav > a:hover{
    text-decoration: underline;
}

.wave{
    position:absolute;
    bottom: 0;
    width: 100%;
}
/* About us */
.contenedor-sobre-mi{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 60%;
    
}
.face{
    width: 400px;
    border-radius: 3rem 3rem 3rem 3rem;
    height: 300px;
}
.face2{
    width: 331px;
    border-radius: 3rem 3rem 3rem 3rem;
    margin-left: 150px;
}
.sobre-mi .contenido-textos{
    width: 48%;
}
.text{
    margin-left: -450px;
    position: absolute;
    width: 40%;
    margin-top: -450px;
}
.carrusel-img{
    display: flex;
    width: 800px;
    height:450px;
    margin: 30px auto;
    overflow: hidden;
    scroll-behavior: smooth;
}
.carrusel-img img{
    border-radius: 2rem 2rem 2rem 2rem;
    width: cover;
    width: 550px;
    margin: 10px;

}
.btn{
    width: 15px;
    height: 15px;
    background-color: #3E5151;
    border-radius: 50%;
}
.carrusel-botoms{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.carrusel-img2{
    display: flex;
    width: 1000px;
    height: 450px;
    margin: 30px auto;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carrusel-img2 img{
    border-radius: 2rem 2rem 2rem 2rem;
    width: cover;
    width: 1000px;
    margin: 10px;
}
.btn2{
    width: 15px;
    height: 15px;
    background-color: #3E5151;
    border-radius: 50%;
}
.carrusel-botoms2{
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer{
    background-image: url(../img/footer.jpg);
    height: 10vw;
    width: auto;
    color: white;
}
.footer-content{
    display: flex;
    align-items: left;
    font-weight: 200px;
    font-size: 20px;
    margin-left: 30px;
    bottom: 10%;
    margin-bottom: 10px;
}
