*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Josefin+Sans', sans-serif; 
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color:#ece5e2;
    --text-color:#84AF;
    --bg-color:#000;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
*::selection {
    background-color: var(--main-color);
    color: #000
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header {
    position: fixed;
    top:300;
    right: 10;
    width: 100%;
    z-index: 1000;
    display: flex;
}
.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 10.5rem;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}